body{

margin:0;
font-family:Arial;
background:#f4f4f4;
font-size:20px;

}

/* HEADER */

header{

background:#7e22ce;
color:white;
text-align:center;
padding:25px;

}

/* TITULOS */

h1{

font-size:50px;

}

h2{

font-size:35px;
color:#7e22ce;

}

h3{

font-size:28px;

}

/* PARRAFOS */

p{

font-size:22px;
line-height:1.8;

}

/* MENU */

nav{

background:black;
padding:15px;

}

/* MENU HAMBURGUESA */

.menu-icon{

display:none;
flex-direction:column;
cursor:pointer;

}

/* 3 LINEAS */

.linea{

width:35px;
height:5px;
background:white;
margin:4px;
border-radius:5px;

}

/* MENU */

#menu{

display:flex;
justify-content:center;
list-style:none;
padding:0;
margin:0;

}

#menu li{

margin:10px;

}

#menu a{

color:white;
text-decoration:none;
font-size:22px;

}

/* HERO */

.hero{

background:white;
margin:20px;
padding:30px;
border-radius:15px;
text-align:center;
box-shadow:0px 0px 10px gray;

}

/* TARJETAS */

.contenedor{

display:flex;
justify-content:space-around;
flex-wrap:wrap;

}

article{

background:white;
width:18%;
margin:10px;
padding:20px;
text-align:center;
border-radius:15px;
box-shadow:0px 0px 10px gray;

}

/* ICONOS */

.icono{

font-size:60px;

}

.iconoGrande{

font-size:120px;
text-align:center;

}

/* PAGINAS */

.pagina{

background:white;
margin:20px;
padding:25px;
border-radius:15px;
box-shadow:0px 0px 10px gray;

}

/* LISTAS */

ul{

margin-top:20px;

}

li{

margin:12px;
font-size:20px;

}

/* BOTONES */

button{

background:#7e22ce;
color:white;
border:none;
padding:12px;
border-radius:10px;
cursor:pointer;
font-size:18px;

}

button:hover{

background:#581c87;

}

/* ACTIVIDAD */

.actividad{

background:white;
margin:20px;
padding:25px;
text-align:center;
border-radius:15px;
box-shadow:0px 0px 10px gray;

}

/* FOOTER */

footer{

background:black;
color:white;
text-align:center;
padding:20px;
margin-top:20px;

}

/* REPRODUCTOR */

.musica{

position:fixed;
bottom:10px;
right:10px;
background:white;
padding:10px;
border-radius:15px;
box-shadow:0px 0px 10px gray;
z-index:1000;

}

/* AUDIO */

.musica audio{

width:260px;

}

/* RESPONSIVE */

@media(max-width:800px){

/* MENU */

.menu-icon{

display:flex;

}

#menu{

display:none;
flex-direction:column;
text-align:center;

}

#menu li{

margin:15px;

}

/* TARJETAS */

article{

width:80%;

}

/* MUSICA */

.musica{

right:5px;
bottom:5px;
padding:5px;

}

.musica audio{

width:180px;

}

/* TEXTOS */

h1{

font-size:35px;

}

h2{

font-size:28px;

}

p{

font-size:18px;

}

}